.btn {
	position: relative;
	z-index: 0;

	display: inline-flex;
	align-items: center;

	font-weight: 600;
	column-gap: 12px;

	border: none;
	border-radius: $border-radius;
	outline: none;

	transition: $transition-base;

	@include rss-btn-size-md;

	&-sm {
		@include rss-btn-size-sm;
	}

	&-icon.btn-sm {
		padding: 4px 8px 4px 16px;
	}

	&-icon {
		padding: 8px 16px 8px 24px;
	}

	&-lg {
		@include rss-btn-size-lg;
	}

	&-icon.btn-lg {
		padding: 12px 24px 12px 32px;
	}

	@each $breakpoint, $value in $grid-breakpoints {
		&-#{$breakpoint}-sm {
			@include media-breakpoint-up($breakpoint) {
				@include rss-btn-size-sm;
			}
		}

		&-#{$breakpoint}-md {
			@include media-breakpoint-up($breakpoint) {
				@include rss-btn-size-md;
			}
		}

		&-#{$breakpoint}-lg {
			@include media-breakpoint-up($breakpoint) {
				@include rss-btn-size-lg;
			}
		}
	}

	&::after {
		position: absolute;
		top: -2px;
		right: -2px;
		bottom: -2px;
		left: -2px;
		z-index: 1;

		border-radius: $border-radius;
		opacity: 0;

		transition: $transition-base, $transition-fade;

		content: "";
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}

	&[disabled] {
		color: rgba($on-surface, 0.32);

		background: rgba($on-surface, 0.08);

		cursor: not-allowed;
	}
}

.btn-primary {
	@include rss-button-variant(
		$primary,
		$on-primary,
	);
}
