doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title RSS &acy;&gcy;&rcy;&iecy;&gcy;&acy;&tcy;&ocy;&rcy;
.container
  .row.justify-content-center.vh-100
    header.col-6.my-auto
      div
        h1.mb-1 RSS &acy;&gcy;&rcy;&iecy;&gcy;&acy;&tcy;&ocy;&rcy;
        p.mb-5 &Ncy;&acy;&chcy;&ncy;&icy;&tcy;&iecy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; RSS &scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy;! &Ecy;&tcy;&ocy; &lcy;&iecy;&gcy;&kcy;&ocy;, &ecy;&tcy;&ocy; &kcy;&rcy;&acy;&scy;&icy;&vcy;&ocy;.
      form.d-flex
        label.visually-hidden(for='rss-url') &Scy;&scy;&ycy;&lcy;&kcy;&acy; RSS
        input#rss-url.form-control.me-6(placeholder='Ссылка RSS' type='text' name='rss-url')
        button.btn.btn-primary &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy;
