include ./src/components/icon

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title RSS &acy;&gcy;&rcy;&iecy;&gcy;&acy;&tcy;&ocy;&rcy;
.container
  .row.justify-content-center.vh-100
    header.col-6.my-auto
      div
        h1.d-flex.align-items-center.mb-1
          +icon('rss-icon-lg')
          span.lh-sm RSS агрегатор
        p.mb-5 Начните читать RSS сегодня! Это легко, это красиво.
      form.d-flex
        label.visually-hidden(for='rss-url') Ссылка RSS
        input#rss-url.form-control.me-6(placeholder='Ссылка RSS' type='text' name='rss-url')
        button.btn.btn-lg.btn-primary Добавить
