h1 {
	font-size: $h1-font-size-sm;

	@include media-breakpoint-up(lg) {
		font-size: $h1-font-size;
	}
}

p {
	font-size: $font-size-sm;

	@include media-breakpoint-up(lg) {
		font-size: $font-size-base;
	}
}
