@mixin rss-button-variant(
	$bg,
	$color,
	$hover-bg: rgba($on-primary, 0.08),
	$pressed-bg: rgba($on-primary, 0.16),
	$focus-box-shadow-color: $on-primary-container,
) {
	color: $color;

	background: $bg;

	&::after {
		background: $hover-bg;
	}

	&:focus {
		&::after {
			background: $pressed-bg;
		}
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px $focus-box-shadow-color inset;
	}
}
