include icon

mixin button(props)
  -
    const {
      text,
      type = 'primary',
      size = null,
      icon = null,
    } = props;

  button.btn(
    class=`btn-${type}`
    class=size ? `btn-${size}` : null
    class=icon ? 'btn-icon' : null
  )
    = text
    if icon
      +icon({ name: icon })
