include icon

mixin button(props)
  -
    const {
      text,
      size = 'md',
      type = 'primary',
      icon = null,
    } = props;

  button.btn(
    class=`btn-${size} btn-${type}`
  )
    = text
    if icon
      +icon({ name: icon })
