mixin icon(name, size)
  -
    var componentClass = 'icon';

    function getSizeClass() {
      if (!size) {
        return `${componentClass}-md`;
      }
      return `${componentClass}-${size}`;
    }

    function getClasses() {
      return [attributes.class, getSizeClass()].join(' ');
    }

  svg.icon(class!=getClasses())
    use(xlink:href=`./sprite.svg#${name}`)
