.form-control {
	box-shadow: $input-box-shadow;

	&:hover {
		box-shadow: $input-hover-box-shadow;
	}

	&::placeholder {
		opacity: 0.32;

		transition: $transition-fade;
	}

	&:focus {
		box-shadow: $input-focus-box-shadow;

		&::placeholder {
			opacity: 0.16;
		}
	}
}
